body {
	background-image:url('sobib.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
	background-attachment: fixed;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFFFFF;
}

#header {
	position: relative;
	top: 20px;
	background-color: #000000;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#footer{
	clear: both;
	position: relative;
	bottom: -50px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #000000;
	font-size: 10pt;
	font-family: Verdana;
	color: #FFFFFF;
}
/*PEALEHE tekst*/
#tekst {
	font-family: Verdana;
	font-size: 10pt;
	font-size: 1em;
	border: 1px solid black;
	border-radius: 15px;
	margin: 70px 70px ;
	background-color: #000000;
	color: #FFFFFF;

}
/*MENÜÜ*/
#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-250px;
}

ul{
	list-style-type: none; /* punktid kaovad*/
	font-size: 15pt;
	position: relative;
	margin: 0px;
}

ul#menu li{	/*Menüü kasti paigutus*/
	width: 130px;
	text-align: center;
	position: relative; 
	float:left;
	margin-right: 20px;
}

ul#menu a{	/*Menüü kast*/
	text-decoration: none;
	font-family: Verdana;
	color: #FFFFFF;   
	display: block;
	width: 125px;
	height: 25px;
	line-height: 25px;
	background-color: #000000;
	border-radius: 7px;
	border: 1px solid #FFFFFF;
}

ul#menu .alamenüü a{	/*dropdown menüü vahe*/
	margin-top: 5px;
}

ul#menu .alamenüü2 a{	/*alamenüü2 paremale nihkumine*/
	margin-left: 15px;
}

ul#menu li:hover > a{	/*alamenüü värvi vahetus*/
	background-color: ;
}

ul#menu li:hover a:hover{	/*alamenüü värvi vahetus*/
	background-color: ;
}
 ul#menu ul.alamenüü{		/*alamenüü paigutus*/
	display: none;
	position: absolute;
	top:25px;
	left:0px;
 }
 
 ul#menu ul .alamenüü2{	/*alamenüü2 paigutus*/
	display: none;
	position: absolute;
	top: 0px;
	left: 80px;
 }
 
 ul#menu li:hover .alamenüü{	/*alamenüü list muutub dropdowniks*/
	display: block;
 }
 
 ul#menu .alamenüü li:hover .alamenüü2{	/*alamenüü2 list muutub dropdowniks*/
	display: block;
 }
/*PÜKSID JA PLUUSID*/
/* pildikogu paigutus*/
tbody {
	position: relative;
}
/*Pildi paigutus*/
tr, td {
	font-size: 10pt;
	text-align:center;
	padding: 0;
	margin:0;
}

td img {
	width:170px;
	height:170px;
	padding:0;
	margin:0;
}

#pildikogu {
	margin: 0 auto 0 auto;
}
/*KONTAKT*/
#tabel{
	font-family: Verdana;
	font-size: 10pt;
	border: 1px solid black;
	border-radius: 15px;
	margin: 70px 70px ;
	background-color: #000000;
	color: #FFFFFF;
}

#pildid{
	top: -200px;
	position: relative;
	left: 300px;

}
/*Tüdrukute pluusid ja püksid pildiraam*/
#gallery img {
	border:2px black solid;
}
/* pildiraam */
#frame {
	display:none;
	position:absolute; /*FIXED*/
}
#title { 
	background:#FFFFFF; 
}
#filler {
	border:solid black 10px;
}
